.button {
  border: none;
  padding: 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

.loginButton {
  font-size: 1.2rem;
}

.success {
  color: rgb(31, 112, 31);
}

.failure {
  color: rgb(133, 27, 27);
}
