.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.qtyAndTotalWrapper {
  display: flex;
  gap: 3rem;
}

.qtyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.qtyWrapper input {
  border-radius: 20px;
  background: var(--background-light, #ececf3);
  width: 60px;
  height: 36px;
  border: none;
  caret-color: transparent;
  text-align: center;
  color: var(--text-colors-text, #383838);
  font-size: 1rem;
  overflow: hidden;
}

.qtyWrapper input::-webkit-outer-spin-button,
.qtyWrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qtyWrapper span {
  color: var(--border-border-color, #b9b9b9);
  font-size: 12px;
  letter-spacing: 1.25px;
}

.orderTotalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.orderTotal {
  color: var(--colors-tertiary, #b95de4);
  font-size: 2rem;
  font-weight: 800;
  line-height: 125%;
}

.orderTotalText {
  color: var(--border-border-color, #b9b9b9);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 0.8rem;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.button {
  width: 197px;
  height: 68px;
  padding: 16px 24px;
  border-radius: 48px;
  background: var(--colors-tertiary, #b95de4);
  border: none;
  color: var(--colors-white, #fff);
  font-weight: 600;
  line-height: 150%;
  font-size: 1rem;
  margin-left: 3rem;
  cursor: pointer;
}
