.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem 0 2rem 0;
}

.logo {
  font-size: 2rem;
}

.historyButton {
  height: 3rem;
  border: 1px solid #b95de4;
  border-radius: 36px;
  font-size: 1rem;
  color: #000000;
  padding: 0 2rem 0 2rem;
  cursor: pointer;
}

.historyButtonContainer {
  display: flex;
  justify-content: center;
}
